*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    background: #F7F7F7;
}

.canvas-container{
    width:100vw !important;
    height:100vh !important;
}

#controls{
    position: fixed;
    top:20px;
    left:20px;
    padding:10px;
    border:1px solid black;
    background:white;
    box-shadow: 0 0 9px rgba(0,0,0, .12);

    display:grid;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    grid-row-gap:8px;
}

buttons{
    border:none;
}

.active{
    background-color: gray;
}

.hidden{
    visibility: hidden;
}

.controlsModals{
    position: fixed;
    top:20px;
    left:150px;
    padding:10px;
    border:1px solid black;
    background:white;
    box-shadow: 0 0 9px rgba(0,0,0, .12);

    display:grid;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    grid-row-gap:8px;
}

#colorWheel{
    width:60px;
    height:30px;
    background:red;
}