body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafc;
  color: #595354;
}

.header {
  background-color: #ffffff;
  padding: 10px 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.header > .logo-container {
  display: flex;
  align-items: center;
}

.header > .logo-container > .logo-img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.header > .logo-container > .logo-text {
  font-size: 26px;
  font-weight: 700;
}

.header > .logo-container > .logo-text > .logo-highlight {
  color: #65a9e5;
}

.content-container {
  width: 100%;
  height: calc(100vh - 89px);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.active-users-panel {
  width: 300px;
  height: 100%;
  border-right: 1px solid #cddfe7;
}

.panel-title {
  margin: 10px 0 0 0;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #cddfe7;
  padding-bottom: 10px;
}

.active-user {
  padding: 10px 30px;
  border-bottom: 1px solid #cddfe7;
  cursor: pointer;
  user-select: none;
}

.active-user:hover {
  background-color: #e8e9eb;
  transition: background-color 0.5s ease;
}

.active-user--selected {
  background-color: #fff;
  border-right: 5px solid #65a9e5;
  font-weight: 500;
  transition: all 0.5s ease;
}

.video-chat-container {
  padding: 0 20px;
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
/*  */
/* .video-chat-container * { */
  /* width: 320px; */
  /* height: 180px; */
  /* margin: 20px; */
/* } */

.talk-info {
  font-weight: 500;
  font-size: 21px;
}

.remote-video {
  border: 1px solid #cddfe7;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.local-video {
  position: absolute;
  border: 1px solid #cddfe7;
  bottom: 60px;
  right: 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 300px;
}






.videos-room-container{
  display: flex;
}


#chat-text{
  min-height:65vh;  
  max-height:65vh;  
  padding:10px;
  overflow-y:auto;
}

.you{
  background: rgb(30,30,30) !important;
}

.you h4 {
  color:white;
}

.you p {
  color: rgb(230,230,230);
}



.user {
  width:300px;
  height:200px;
  margin:10px;

  display:grid;
  grid-template-rows: auto max-content;
}

.user video{
  width:100%;
  height:100%;
  object-fit: cover;
  background: gray;
}

.user p {
  background: black;
  color:white;
  padding:8px 15px;
  text-align:center;
  margin:0;
}


input{
  width:100%;
  max-width:100%;
  min-height:100px;
  /* position: absolute; */
  /* left:0; */
  /* bottom:0; */
  padding:0;

  white-space: wrap;
}

button{
  display:block;
  background:rgb(30,30,30);
  color:white;
  font-weight: 700;

  padding: 10px 15px; 
  margin-left:auto;
  margin-top:8px;
  position:relative;
}

.message{
  padding:20px;
  background:rgb(230,230,230);
  margin-bottom: 10px;
}


.message h4{
  margin-top:0;
  margin-bottom:8px;
}

.message p {
  margin:0;
}

li{
  list-style: none;
}